In [101]:
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression
import sklearn.ensemble as ske
from sklearn.naive_bayes import GaussianNB
from sklearn import svm

In [2]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### survival of passengers as ratio through (normalize = true)

In [4]:
df['Survived'].value_counts(normalize = True) 
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### Preparing dataset by converting string objects to int

In [48]:
df['Sex'][df['Sex'] == 'female'] = 0
df['Sex'][df['Sex'] == 'male'] = 1

df['Embarked'].replace('S',0,inplace=True)
df['Embarked'].replace('C',1,inplace=True)
df['Embarked'].replace('Q',2,inplace=True)

C:\Users\bhawesh.chandola\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\bhawesh.chandola\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

#### fill the na values to -99999, so that it is considered as an outlier 
##### Assigning the survived column as the target and rest of the columns as features for the classifier 
##### finally splitting the dataset into training and testing set

In [95]:
df = df.fillna(-99999)
target_test = df['Survived'].values
features_test = df[["Pclass","Age","Sex","Fare", "SibSp", "Parch", "Embarked"]].values

X_train, X_test, Y_train, y_test = cross_validation.train_test_split(features_test,target_test,train_size=0.2)

In [96]:
clf = LinearRegression()
lr = clf.fit(X_train,Y_train)
lr.score(X_test,y_test)

0.21769186655348538

In [97]:
my_tree = tree.DecisionTreeClassifier()
my_tree = my_tree.fit(X_train,Y_train)
my_tree.score(X_test,y_test)

0.65306122448979587

In [100]:
clf_random = ske.RandomForestClassifier(n_estimators=50)
clf_random = clf_random.fit(X_train,Y_train)
clf_random.score(X_test,y_test)

0.69387755102040816

In [102]:
gnb = GaussianNB()
gnb = gnb.fit(X_train,Y_train)
gnb.score(X_test,y_test)

0.74829931972789121

In [104]:
clf_svm = svm.SVC()
clf_svm = clf_svm.fit(X_train, Y_train)
clf_svm.score(X_test, y_test)

0.65306122448979587